<section>
    <div class="container">
        <div class="rows">
            <div class="image"></div>
            <div class="inner-rows">
                <div class="row1">
                    <div class="title">Some heading</div>
                    <div class="subtitle">
                        I’m a designer from Amsterdam, The Netherlands. Early 2017 I joined Framer to help build the next generation interactive design tool. At Framer I help shape the brand and build Framer.com.
                    </div>
                </div>
                <div class="row2"></div>
            </div>
        </div>
    </div>
</section>
<style>
    .container {
        width: 390px;
        height: 637px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        overflow: hidden;
        padding: 0px 0px 0px 0px;
        align-content: center;
        flex-wrap: nowrap;
        gap: 0px;
        position: absolute;
        border-radius: 0px 0px 0px 0px;
    }
    .rows {
        flex-shrink: 0;
        flex: 1 0 0px;
        width: 1px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0px 0.8398022765904898px 1.1757231872266858px -0.125px rgba(0, 0, 0, 0.02),
            0px 1.9904796838090988px 2.7866715573327383px -0.25px rgba(0, 0, 0, 0.02239),
            0px 3.6308406896569063px 5.083176965519669px -0.375px rgba(0, 0, 0, 0.02436),
            0px 6.036265357761295px 8.450771500865812px -0.5px rgba(0, 0, 0, 0.02724),
            0px 9.748076360978303px 13.647306905369623px -0.625px rgba(0, 0, 0, 0.0317),
            0px 15.956633803711155px 22.339287325195617px -0.75px rgba(0, 0, 0, 0.03915),
            0px 27.476245881684008px 38.46674423435761px -0.875px rgba(0, 0, 0, 0.05297),
            0px 50px 70px -1px rgba(0, 0, 0, 0.08);
        background-color: #ffffff;
        max-width: 430px;
        overflow: hidden;
        position: relative;
        padding: 0px 0px 0px 0px;
        align-content: center;
        flex-wrap: nowrap;
        gap: 0px;
        border-radius: 0px 0px 0px 0px;
    }
    .inner-rows {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 50px 50px 50px 50px;
        background-color: rgba(255, 255, 255, 0.1);
        overflow: visible;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 30px;
        border-radius: 0px 0px 0px 0px;
    }
    .row1 {
        flex-shrink: 0;
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: visible;
        position: relative;
        padding: 0px 0px 0px 0px;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 20px;
        border-radius: 0px 0px 0px 0px;
    }
    .title {
        flex-shrink: 0;
        width: 100%;
        height: auto;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
        overflow: hidden;
        position: relative;
        font-weight: 700;
        font-style: normal;
        font-family: "Inter", "Inter Placeholder", sans-serif;
        color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #111111);
        font-size: 32px;
        letter-spacing: -2.1px;
        line-height: 1.2;
        text-align: left;
    }
    .subtitle {
        flex-shrink: 0;
        width: 100%;
        height: auto;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
        overflow: hidden;
        position: relative;
        font-weight: 500;
        font-style: normal;
        font-family: "Inter", sans-serif;
        color: #666666;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 1.6;
        text-align: left;
    }
    .image {
        flex-shrink: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        display: block;
        overflow: hidden;
        position: relative;
        background-image: url("/placeholder-social.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 11px 11px 0px 0px;
    }
</style>
